<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AfficherEtatTransgerbeur.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AfficherEtatTransgerbeur.Properties.Settings>
            <setting name="BDD_adresse" serializeAs="String">
                <value />
            </setting>
            <setting name="BDD_nomBase" serializeAs="String">
                <value />
            </setting>
            <setting name="BDD_nomUtilisateur" serializeAs="String">
                <value />
            </setting>
            <setting name="BDD_motDePasse" serializeAs="String">
                <value />
            </setting>
            <setting name="IP_stationRFID" serializeAs="String">
                <value />
            </setting>
            <setting name="IP_automate" serializeAs="String">
                <value />
            </setting>
        </AfficherEtatTransgerbeur.Properties.Settings>
    </userSettings>
</configuration>